.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: #010101;
  font-size: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 300px;
  box-shadow: 0 1px 4px 0 rgba(139, 239, 7, 0.28);
  border-radius: 4px;
}

.btn {
  font-size: 25px;
  width: 310px;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  background-color: greenyellow;
  font-size: 16px;
}

.btn:hover {
  background-color: green;
}

.input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid greenyellow;
  border-radius: 4px;
  background-color: inherit;
}
