.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 400px;
  margin-bottom: 10px;
  font-size: 22px;
}

ul {
  padding-left: 0;
}
.btn {
  display: block;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: greenyellow;
}

.btn:hover {
  background-color: green;
}
