.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.btn {
  font-size: 25px;
  /* width: 300px; */
  height: 28px;
  /* margin-top: 10px; */
  border: none;
  border-radius: 2px;
  background-color: greenyellow;
  font-size: 16px;
}

.btn:hover {
  background-color: green;
}
